/* Стили для photo-grid */ 
@import url(./__item/__item.css);

.photo-grid {
    margin: auto;
    margin-top: 92px;
    max-width: 82%;
    min-height: 596px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    transition: 3s linear;
}

.photo-grid:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.photo-grid:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 1024px) and (max-width: 1279px){
    .photo-grid {
        max-width: 91%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
    .photo-grid__item {
        max-width: 100%;
        min-height: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        max-width: 94%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
    .photo-grid__item {
        max-width: 100%;
        min-height: 234px;
        margin: auto;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .photo-grid {
        margin-top: 64px;
        max-width: 94%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    .photo-grid__item {
        max-width: 100%;
        min-height: 232px;
        margin: auto; 
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .photo-grid__item {
        min-height: 192px;
        margin: auto;
    }
    .photo-grid {
        max-width: 90%;
        margin-top: 64px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}