/* Стили для video */
@import url(./__container/__container.css);



.video {
    margin-top: 102px;
}

@media screen and (max-width: 1024px) {
    .video__container {
        max-width: 90%;
    }
    .video__item {
        min-width: 49%;
        max-width: 49%;
        background-size: cover;
        height: 288px;
    }
    .video__duration {
        margin-top: 54px;
    }
    .video__title {
        margin-top: 12px;
    }
    .video__subtitle {
        margin-top: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .video__container {
        max-width: 94%;
        min-height: 200px;
    }
    .video__item {
        max-width: 49%;
        min-width: 49%;
        height: 200px;
        background-size: cover;
    }
    .video__icon-play {
        max-width: 42px;
        min-height: 42px;
        margin-top: 25px;
        margin-left: 25px;
    }
    .video__duration {
        margin-top: 36px;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.3em;
    }
    .video__title {
        margin-top: 8px;
        font-size: 24px;
        line-height: 26px;

    }
    .video__subtitle {
        margin-top: 12px;
        font-size: 14px;
        line-height: 15px;
    }
    .video__item_observatory .video__duration  {
        margin-top: 17px;        
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .video {
        margin-top: 64px;
    }
    .video__container {
        max-width: 92%;
        min-height: 200px;
        flex-direction: column;
    }
    .video__item_observatory {
        margin-top: 8px;
    }
    .video__container {
        margin-top: 24px;
    }
    .video__title {
        max-width: 89%;
        font-size: 24px;
        line-height: 26px;
        margin-left: 24px;
        margin-top: 8px;
    }
    .video__subtitle {
        font-size: 14px;
        line-height: 15px;
        margin-left: 24px;
        margin-top: 8px;
    }
    .video__item {
        max-width: 100%;
        height: 200px;
        background-repeat: no-repeat;
    }
    .video__icon-play {
        margin-left: 24px;
        margin-top: 24px;
    }
    .video__duration {
        margin-top: 41px;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.3em;
        margin-left: 24px;
    }
    .video__item_observatory .video__duration {
        margin-top: 17px;
    }
}

@media screen and (min-width: 320px) and (max-width: 376px) {
    .video {
        margin-top: 64px;
    }
    .video__container {
        max-width: 92%;
        min-height: 192px;
        flex-direction: column;
        margin-top: 24px;
    }
    .video__item {
        max-width: 100%;
        height: 192px;
        background-size: cover;
    }
    .video__item_observatory {
        margin-top: 8px;
    }
    .video__duration {
        margin-top: 49px;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.3em;
        margin-left: 16px;
    }
    .video__title {
        max-width: 91%;
        font-size: 24px;
        line-height: 26px;
        margin-left: 16px;
        margin-top: 8px;
    }
    .video__subtitle {
        font-size: 14px;
        line-height: 15px;
        margin-left: 16px;
        margin-top: 8px;
    }
    .video__icon-play {
        margin-left: 16px;
        margin-top: 16px;
    }
    .video__item_observatory .video__duration {
        margin-top: 23px;
    }
}


@keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }