@import url(../__icon-play/__icon-play.css);
@import url(../__duration/__duration.css);
@import url(../__title/__title.css);
@import url(../__subtitle/__subtitle.css);
@import url(./_kamchatka/_kamchatka.css);
@import url(./_observatory/_observatory.css);

.video__item {
    min-width: 49%;
    max-width: 49%;
    height: 323px;
    border-radius: 5px;
    text-decoration-line: none;
    background-size: cover;
}