.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    color: #FFFFFF;
    text-decoration-line: none;
    transition: .5s;
    margin-right: 18px;
}

.footer__link:hover {
    opacity: .7;
}