.video__title {
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 0;
    width: 322px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    color: #FFFFFF;
    opacity: 1;
}